.square {
    border: 2px solid #fff;
    width: 200px;
    height: 200px;
    background-color: transparent;
    color: #fff;
    font-size: 100px;
    font-weight: 600;
    @media (max-width: 768px) {
        width: 150px;
        height: 150px;
        font-size: 70px;
    }
    @media (max-width: 576px) {
        width: 100px;
        height: 100px;
        font-size: 50px;
    }
}
